<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search for Public GitHub Repos</title>
</head>
<body>
  <form action="/repos" method="get">
    <label for="keyword">Search Keyword:</label>
    <input type="text" id="keyword" name="keyword" placeholder="ruby">
    <button type="submit">Search Repos</button>
  </form>
</body>
</html>
